body {
	color: white;
	font-size: 24px;
}

.logo {
	height: 25em;
	width: 100%;
	background: url('images/6.png') 0 0;
	background-repeat: no-repeat;
}


/* Media Queries */

@media screen and (max-width: 1024px) {

  .logo {
  	background: url('images/5.png');
	background-repeat: no-repeat;
  }

}

@media screen and (max-width: 768px) {

  .logo {
  	background: url('images/4.png');
	background-repeat: no-repeat;
  }

}

@media screen and (max-width: 600px) {

  .logo {
  	background: url('images/3.jpg');
	background-repeat: no-repeat;
  }
  

}

@media screen and (max-width: 480px) {

  .logo {
  	background: url('images/2.jpg');
	background-repeat: no-repeat;
  }

}

@media screen and (max-width: 320px) {

  .logo {
  	background: url('images/1.jpg');
	background-repeat: no-repeat;
  }

}